%div(id="catalog_#{catalog.id}")
  .span-4
    = catalog.name
  .span
    = link_to t("label.edit"), edit_admin_catalog_path(catalog)
    |
    = generate_enable_link(catalog)
    |
    = link_to t("label.delete"), [:admin, catalog],
        :confirm => t("label.delete_confirm", :name => catalog.name),
        :method => :delete
