= form_for [:admin, catalog] do |f|

  %fieldset
    %br
    #field_name.field
      .required_field_label= f.label :name
      = f.text_field :name

    = f.submit "保存"
    = link_to '返回', admin_catalogs_path