= form_for [:admin, location] do |f|
  %fieldset
    %br/

    #field_city.field
      .required_field_label= f.label :city
      = f.text_field :city

    #field_address.field
      .required_field_label= f.label :address
      = f.text_field :address

    #field_zip.field
      .required_field_label= f.label :zip
      = f.text_field :zip

    #field_map_url.field
      .required_field_label= f.label :map_url
      = f.text_field :map_url

    = f.submit t("label.save")
    = link_to t("label.back"), admin_locations_path



