%h1 培训地点

= link_to t('label.new') , new_admin_location_path

%table
  %thead
    %th 城市
    %th 地址
    %th 电子地图
    %th/
  %tbody
    - @locations.each do |location|
      %tr
        %td= location.city
        %th= location.address
        %th= link_to location.address, location.address
        %th
          = link_to t('label.edit'), [:admin, location]
          |
          = link_to t('label.delete'), [:admin, location],
            :method => 'delete',
            :confirm => t('label.delete_confirm', :name => "#{campaign.city} - #{campaign.address}")

