- photos.each do |photo|
  .photo
    = link_to photo.image_url.to_s,
              :class => "single_image",
              :rel => "album_#{photo.album.id}",
              :title => "#{photo.description}" do
      = image_tag photo.image_url(:thumb).to_s


= stylesheet_link_tag '/fancybox/jquery.fancybox-1.3.4.css'
= javascript_include_tag '/fancybox/jquery.fancybox-1.3.4.pack.js'
= javascript_include_tag '/fancybox/jquery.mousewheel-3.0.4.pack.js'

:javascript
  $(document).ready(function(){
    $("a.single_image").fancybox();
  });