%h2= t('label.sign_up')
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %fieldset
    %p
      .span-2= f.label :email, t('label.email')
      = f.text_field :email
    %p
      .span-2= f.label :password, t('label.password')
      = f.password_field :password
    %p
      .span-2= f.label :password_confirmation, t('label.password_confirmation')
      = f.password_field :password_confirmation
    %p
      .span-2= f.label :nick_name, t("label.nick_name")
      = f.text_field :nick_name, :max_length => 20
    %p
      .span-2= f.label :gender, t("label.gender")
      = f.select :gender, {t('label.male') => :male, t('label.female') => :female}
    %hr/
    %p(style="text-align:center;")= f.submit t('label.sign_up') , :class => 'span-2'
= render :partial => "devise/shared/links"
