%table(border="1")
  %tbody
    %tr
      %th 课程
      %td= link_to campaign.course.course_name, course_url(campaign.course)
    %tr
      %th 班次
      %td= link_to campaign.name, campaign_url(campaign)
    %tr
      %th 讲师
      %td
        - unless campaign.trainer.nil?
          =link_to campaign.trainer.true_name, "#"
        - else
          未指定
    %tr
      %th 上课时间
      %td= start_date(campaign)
    %tr
      %th 上课地点
      %td
        - unless campaign.training_room.nil?
          = campaign.training_room.full_address
          &nbsp;&nbsp;
          = link_to "电子地图", campaign.training_room.map_url
    %tr
      %th 报名人数
      %td= campaign.valid_orders.size

    %tr
      %th 有效报名清单
      %td
        %table(border="1")
          %thead
            %th 订单号
            %th 用户名
            %th 邮件
            %th 姓名
            %th 电话
            %th 报名时间
            %th 金额
            %th 状态
            %th 付款时间
            %th 备注
          %tbody
            - campaign.valid_orders.order('created_at DESC').each_with_index do |order, index|
              %tr(style="background-color:#{index.even? ? 'white' : 'lightgray'};")
                %td= order.order_code
                %td= order.user.username
                %td= order.user.email
                %td= order.user.true_name
                %td= order.user.contact_phone
                %td= order.created_at
                %td ￥ #{format("%.2f",order.total_amount)}
                %td= human_status('order', order.status)
                %td= order.paid_time
                %td= order.comment
