%h1 课程评论

%table(border="1")
  %tbody
    %tr
      %th 评论时间
      %td= @comment.created_at
    %tr
      %th 课程
      %td= link_to @comment.course.course_name, course_url(@comment.course)
    %tr
      %th 评论
      %td(style="font-size:16px;color:red;")
        = @comment.content
    %tr
      %th 用户
      %td= @comment.user.username
    %tr
      %th 邮件
      %td= @comment.user.email
    %tr
      %th 姓名
      %td= @comment.user.true_name


