%h1 Feedbacks

#campaign
  %p
    课程: #{link_to @course.course_name, [:admin, @course]}
  %p
    班级: #{link_to @campaign.name, [:admin, @course, @campaign]}

#new_feedback


#feedbacks
  %p
    反馈数: #{@feedbacks.size}

  %table
    %thead
      %tr
        %th 学员ID
        %th 姓名
        %th 电话
        %th 邮件
        %th 有用评分
        %th 内容评分
        %th 互动评分
        %th 收获评价
        %th 特色评价
        %th 意见或建议
        %th/
    %tbody
      - @feedbacks.each_with_index do |feedback, index|
        %tr(class="#{even_odd(index)}")
          %td
            = feedback.user.id unless feedback.user.nil?
          %td
            - unless feedback.user.nil?
              = link_to feedback.true_name, [:admin, feedback.user]
            - else
              = feedback.true_name
          %td
            = feedback.contact_phone
          %td
            = feedback.email
          %td
            = feedback.useful_rating
          %td
            = feedback.content_rating
          %td
            = feedback.interact_rating
          %td
            = feedback.gain_from_lesson
          %td
            = feedback.interesting_feature
          %td
            = feedback.advice
          %td
            = link_to t("label.edit"), edit_admin_course_campaign_feedback_path(@course, @campaign, feedback)
            |
            = link_to t("label.delete"),
                      [:admin, @course, @campaign, feedback],
                      :method => "delete",
                      :confirm => t("delete_confirm", {:name => "#{feedback.true_name}的反馈"})