%h1 付款通知
%table
  %thead
    %th 订单号
    %th 标题
    %th 金额
    %th 交易号
    %th 付款时间
    %th 交易状态
    %th 订单用户
    %th 付款人邮件
    %th/
  %tbody
    - @payments.each do |payment|
      %tr
        %td= link_to payment.out_trade_no, admin_order_path(payment.paid_order), :target => '_blank'
        %td= payment.subject
        %td ￥#{format("%.2f", payment.total_amount)}
        %td= payment.trade_no
        %td= payment.gmt_payment
        %td= payment.trade_status
        %td= payment.paid_order.user.true_name
        %td= payment.buyer_email
        %td/


