%table
  %thead
    %th 名称
    %th 价格
    %th 优惠价
    %th 课程开始时间
    %th 课程结束时间
    %th 报名截止时间
    %th 状态
    %th
  %tbody
  - campaigns.each do |campaign|
    %tr
      %td= campaign.name
      %td= campaign.price
      %td= campaign.discount_price
      %td= campaign.start_date
      %td= campaign.end_date
      %td= campaign.register_due_date
      %td= campaign.status
      %td
        = link_to t('label.show'), [:admin, campaign.course, campaign]
        |
        = link_to t('label.edit'), edit_admin_course_campaign_path(campaign.course, campaign)
        |
        = link_to t('label.delete'), [:admin, campaign.course, campaign],
                  :method => :delete, :confirm => t('label.delete_confirm', :name=>campaign.name)

