%table
  %tbody
    %tr
      %td
        #course_name.field
          .align_right= '课程'
      %td
        .value= campaign.course.course_name
    %tr
      %td
        #field_name.field
          .required_field_label= f.label :name
      %td
        = f.text_field :name

    %tr
      %td
        #field_price.field
          .required_field_label= f.label :price
      %td
        = f.text_field :price
    %tr
      %td
        #field_discount_price.field
          .required_field_label= f.label :discount_price
      %td
        = f.text_field :discount_price

    %tr
      %td
        #field_start_date.field
          .field_label= f.label :start_date
      %td
        = f.text_field :start_date, :class => "date" , :date => "true"
    %tr
      %td
        #field_end_date.field
          .field_label= f.label :end_date
      %td
        = f.text_field :end_date, :class => "date" , :date => "true"

    %tr
      %td
        #field_register_due_date.field
          .field_label= f.label :register_due_date
      %td
        = f.text_field :register_due_date, :class => "date" , :date => "true"

    %tr
      %td
        #field_location.field
          .field_label= label_tag "上课地点"
      %td
        - Location.sort_by_city.each do |location|
          = f.radio_button :training_room_id, location
          = f.label :location_id, location.full_address

= f.submit t("label.save")
= link_to t("label.back"), admin_course_path(course)