%table(border="1" id="registers_table")
  %thead
    %th #
    %th 订单号
    %th 用户名
    %th 邮件
    %th 姓名
    %th 电话
    %th 报名时间
    %th 金额
    %th 状态
    %th 付款时间
    %th 备注
    %th 到场
    %th/
  %tbody
    - orders.each_with_index do |order, index|
      %tr(style="background-color:#{index.even? ? 'white' : 'lightgray'};" id="order_row_#{order.id}")
        %td(nowrap="nowrap")= index.succ
        %td(nowrap="nowrap")= order.order_code
        %td(nowrap="nowrap")= order.user.username
        %td(nowrap="nowrap")= order.user.email
        %td(nowrap="nowrap")= order.user.true_name
        %td(nowrap="nowrap")= order.user.contact_phone
        %td(nowrap="nowrap")= order.created_at
        %td(nowrap="nowrap") ￥ #{format("%.2f",order.total_amount)}
        %td(nowrap="nowrap")= human_status('order', order.status)
        %td(nowrap="nowrap")= order.paid_time
        %td(nowrap="nowrap")= order.comment
        %td(nowrap="nowrap")
          %div(id="order_present_title_#{order.id}")
            = order.present? ? "是" : "否"

        %td(nowrap="nowrap")
          %div(id="order_present_#{order.id}")
            - unless order.present?
              = link_to "出席", {:action => "present", :order_id => order.id}, :method => 'post', :remote => true
            - else
              = link_to "缺席", {:action => "absent", :order_id => order.id}, :method => 'post', :remote => true

