%p#notice= notice

%p
  %b #{@campaign.class.human_name} ID:
  = @campaign.id

%p
  %b #{human_attr(@campaign, :name)}:
  = @campaign.name

%p
  %b #{human_attr(@campaign, :price)}:
  = @campaign.price

%p
  %b #{human_attr(@campaign, :discount_price)}:
  = @campaign.discount_price

%p
  %b #{human_attr(@campaign, :start_date)}:
  = @campaign.start_date

%p
  %b #{human_attr(@campaign, :end_date)}:
  = @campaign.end_date

%p
  %b #{human_attr(@campaign, :training_room)}:
  = @campaign.training_room.full_address

%p
  %b #{human_attr(@campaign, :register_count)}:
  = @campaign.register_count

%p
  %b #{human_attr(@campaign, :status)}:
  = human_status('campaign', @campaign.status)
  - if @campaign.status == Campaign::Status::OPEN
    = link_to '课程完成', {:action => "finish"}, :method => "post"


= link_to t('label.edit'), edit_admin_course_campaign_path(@campaign.course, @campaign)
|
= link_to t('label.back'), admin_course_campaigns_path(@campaign.course)
%p/

%p
  %b 有效报名
  %br/
  %div(id="registers_present")
    实到人数: #{@campaign.presents.count}, 缺席人数: #{@campaign.presents(false).count}
  = render 'registers', {:campaign => @campaign, :orders => @campaign.orders.order('created_at DESC')}

= link_to t('label.edit'), edit_admin_course_campaign_path(@campaign.course, @campaign)
|
= link_to t('label.back'), admin_course_campaigns_path(@campaign.course)
