= form_for [campaign, order] do |f|
  %table
    %tbody
      %tr
        %th 课程
        %td= course.course_name
      %tr
        %th 价格
        %td
          - if course.price == course.discount_price
            %font(size="large" color="red") ￥#{format("%.2f", course.price)}
          - else
            %span.delete 原价￥#{format("%.2f", campaign.price)} &nbsp;&nbsp;
            %br/
            %span(style="font-size:18px;color:green;") 现价￥#{format("%.2f", campaign.discount_price)}
      %tr
        %th 报名的班次
        %td
          #campaign
            #{campaign.name} (已有 #{campaign.register_count} 人报名)
            %br/
            上课地点: #{campaign.training_room.full_address},
            = link_to '查看地图', campaign.training_room.map_url, :target => "_blank"
      %tr
        %th 优惠卷
        %td
          如果你有邀请码，请输入
          %br/
          = f.text_field :coupon_code, :size => "40"
      %tr
        %th 备注
        %td
          = f.text_area :comment, :size => "60x5"

      %tr
        %th/
        %td
          = f.submit t('label.submit')
          &nbsp;&nbsp;
          = link_to t('label.back'), course
