
= show_msg

%h1 我报名的课程

#search
  = link_to "当前课程", orders_path("s" => "active")
  &nbsp;|&nbsp;
  = link_to "已完成的课程", orders_path("s" => "finish")
  &nbsp;|&nbsp;
  = link_to "取消的课程", orders_path("s" => "cancel")
  &nbsp;|&nbsp;
  = link_to "全部课程", orders_path("s" => "all")


#orders
  课程订单数: &nbsp;
  %b #{@orders.size}
  %table
    %thead
      %tr
        %th
          课程订单号
        %th
          报名日期
        %th
          课程
        %th
          价格
        %th
          备注
        %th
          状态
        %th
          付款时间
        %th
          原因
        %th/

    %tbody
      - @orders.each_with_index do |order, index|
        %tr(class="#{even_odd(index)}")
          %td
            #order_code(id="#{order.id}")= order.order_code
          %td= order.created_at
          %td
            #order_title(id="#{order.id}")
              = link_to order.campaign.course.course_name, order.campaign.course
              %br/
              = link_to order.campaign.name, order.campaign
          %td
            #order_amount(id="#{order.id}")
              ￥#{format("%.2f", order.total_amount)}
          %td= order.comment
          %td= human_status('order', order.status)
          %td= order.paid_time
          %td= order.reason
          %td
            = render 'order_operations', :order => order

= render "confirm_dialog"