
= show_msg

%h1 我报名的课程

#orders
  %table
    %thead
      %tr
        %th
          订单号
        %th
          报名日期
        %th
          课程
        %th
          价格
        %th
          备注
        %th
          状态
        %th
          付款时间
        %th
          原因
        %th/

    %tbody
      - @orders.each_with_index do |order, index|
        %tr(class="#{even_odd(index)}")
          %td
            #order_code(id="#{order.id}")= order.order_code
          %td= order.created_at
          %td
            #order_title(id="#{order.id}")
              = order.campaign.course.course_name
              %br/
              = order.campaign.name
          %td
            #order_amount(id="#{order.id}")
              ￥#{format("%.2f", order.total_amount)}
          %td= order.comment
          %td= human_status('order', order.status)
          %td= order.paid_time
          %td= order.reason
          %td
            = render 'order_operations', :order => order

= render "confirm_dialog"