%h1 邀请朋友

= form_for @invitation do |f|
  %fieldset
    #field_email.field
      .required_field_label= f.label :friend_email
      = f.text_field :friend_email

    #field_email.field
      .required_field_label= f.label :friend_name
      = f.text_field :friend_name

    #field_email.field
      .required_field_label= f.label :my_name
      = f.text_field :my_name

    = f.submit t('label.submit')

