- content_for :page_include_scripts do
  = javascript_include_tag 'jquery.validate', 'i18n/messages-zh-CN'

- content_for :page_inline_scripts do
  :javascript
    $(document).ready(function(){
      $("form").validate({errorClass: 'error_msg'});
    })


%h2= t('label.sign_in')
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = show_msg
  %fieldset
    %p/
    #field_email.field
      .field_label= f.label :email
      = f.text_field :email, :class => 'required email'
      myemail
    #field_password.field
      .field_label= f.label :password
      = f.password_field :password, :class => 'required', :minlength => 6
    - if devise_mapping.rememberable?
      #field_remember_me.field
        = f.check_box :remember_me
        = f.label :remember_me
    %p(style="text-align:center;")= f.submit t('label.sign_in'), :class => 'span-2'
= render :partial => "devise/shared/links"