#field_nick_name.field
  .required_field_label= f.label :username
  = f.text_field :username, :class => "required", :maxlength => 20, :size => 30
#field_email.field
  .required_field_label= f.label :email
  = f.text_field :email, :class => "required email"
#field_password.field
  .required_field_label= f.label :password
  = f.password_field :password, :class => "required", :minlength => 6
#field_password_confirmation.field
  .required_field_label= f.label :password_confirmation
  = f.password_field :password_confirmation, :class => "required", :equalto => '#user_password', :minlength => 6
#field_true_name.field
  .required_field_label= f.label :true_name
  = f.text_field :true_name, :class => "required"
#field_contact_phone.field
  .required_field_label= f.label :contact_phone
  = f.text_field :contact_phone, :class => "required"
#field_gender.field
  .field_label= f.label :gender
  = f.select :gender, {t('label.gender.male') => :male, t('label.gender.female') => :female}
- if session['reference_to']
  = f.hidden_field :reference_to, :value => session['reference_to']
