#field_email.field
  .required_field_label= f.label :email
  = f.text_field :email, :class => "required email"
#field_password.field
  .required_field_label= f.label :password
  = f.password_field :password, :class => "required", :minlength => 6
#field_password_confirmation.field
  .required_field_label= f.label :password_confirmation
  = f.password_field :password_confirmation, :class => "required", :equalto => '#user_password', :minlength => 6
#field_nick_name.field
  .required_field_label= f.label :nick_name
  = f.text_field :nick_name, :class => "required", :maxlength => 20, :size => 30
#field_gender.field
  .field_label= f.label :gender
  = f.select :gender, {t('label.gender.male') => :male, t('label.gender.female') => :female}
