#field_id_card.field
  .field_label= f.label :id_card
  = f.text_field :id_card
#field_birthday.field
  .field_label= f.label :birthday
  = f.text_field :birthday, :class => "date" , :date => "true"
#field_company.field
  .field_label= f.label :company
  = f.text_field :company
#field_company_size.field
  .field_label= f.label :company_size
  = f.text_field :company_size
#field_address.field
  .field_label= f.label :address
  = f.text_field :address
#field_zip.field
  .field_label= f.label :zip
  = f.text_field :zip

