%table
  %thead
    %tr
      %th 班级名称
      %th 讲课时间
      %th 讲师
      %th 讲课地点
      %th 出席人数
      %th 总评分(最高10分)
  %tbody
    - campaigns.each do |campaign|
      %tr(class="#{cycle('even', 'odd')}")
        %td
          = campaign.name
        %td
          = campaign.start_date
        %td
          = campaign.trainer.nil? ? '' : campaign.trainer.true_name
        %td
          = campaign.training_room.full_address
        %td
          = campaign.present_count
        %td
          课程有用评分:&nbsp;
          %b= campaign.avg_useful_rating
          %br/
          课程内容评分:&nbsp;
          %b= campaign.avg_content_rating
          %br/
          课程互动评分:&nbsp;
          %b= campaign.avg_interact_rating


