%li
  = image_tag course_item.avatar_url(:thumb).to_s, :align => "right"
  %h4= course_item.course_name
  %p!= course_item.short_description
  %p
    - if !course_item.discount_price.nil? && course_item.price != course_item.discount_price
      价格: ￥
      %span.delete= course_item.price
      &nbsp;&nbsp;优惠价: ￥
      %b= course_item.discount_price
    -else
      价格: ￥
      %b= course_item.price

  %p 累计报名人数: #{course_item.total_register_count}

  %p
    - if course_item.active_campaigns.size > 0
      #campaigns
        当前开班:
        %ul
          - course_item.active_campaigns.each do |campaign|
            %li
              = link_to campaign.name, campaign
              (已有 #{campaign.register_count} 人报名) &nbsp;
              = link_to t("label.register_now"), new_campaign_order_path(campaign)
              %br/
              上课时间: &nbsp;
              %b #{start_date(campaign)}
              %br/
              报名截止时间:
              %b #{register_due_date(campaign)}
              %br/
              %br/

    - if course_item.finished_campaigns.size > 0
      = link_to "已完成开班: #{course_item.finished_campaigns.size}", finished_campaigns_course_path(course_item), :remote => true
      |
      = link_to "收起"
      #finished_campaigns


    

  %p
    = link_to t("label.detail"), course_item
    |
    = link_to t("label.add_to_favorite"), favorites_path(:course_id => course_item.id), :method => 'POST'
    |
    //= link_to t("label.register_now"), new_course_order_path(course_item)
    %br/
    %b
      %span(id="comment_count_#{course_item.id}")= course_item.comments.count
    评论
    = link_to "查看", course_comments_path(course_item), :id => "show_comments_#{course_item.id}", :remote => true
    = link_to "收起", course_comments_path(course_item), :id => "show_comments_#{course_item.id}", :remote => true
    - if user_signed_in?
      = link_to "说两句", new_course_comment_path(course_item), :remote => true
    #comments_panel
      .new_comment(id="course_#{course_item.id}_new_comment")
      .comments(id="comments_course_#{course_item.id}")




%hr/