%div(id="course_#{@course.id}")
  #course_avatar.span-5.suffix-1
    = image_tag @course.avatar_url(:thumb).to_s

  #course_main.span-12
    #course_title
      %h2= @course.course_name
      #catalogs
        所属目录:
        = @course.catalogs.collect {|c| c.name}.join(", ")

    #duration 课程时间: #{@course.duration_in_hours} 小时

    #course_description
      != @course.long_description

    #campaigns
      - @course.active_campaigns.each do |campaign|
        .prefix-1
          %h3= campaign.name
          报名截止时间: #{campaign.register_due_date}
          %br/
          原价: ￥
          %span.delete= @course.price
          %br/
          优惠价: ￥#{@course.discount_price}


    = link_to t("label.add_to_favorite"), favorites_path(:course_id => @course.id), :method => 'POST'
    |
    = link_to t("label.register_now"), new_course_order_path(@course)

