
%h1 课程: #{@course.course_name}

%div
  = image_tag @course.avatar_url(:thumb).to_s

  #course_main
    #catalogs
      所属目录:
      = @course.catalogs.collect {|c| c.name}.join(", ")

    #duration 课程时间: #{@course.duration_in_hours} 小时

    #course_description
      != @course.short_description

    %p 累计报名人数: #{@course.total_register_count}


  #campaign
    开班：
    %br/
    #{@campaign.name} (已有 #{@campaign.register_count} 人报名)
    %br/
    开课时间: &nbsp;#{start_date(@campaign)}
    %br/
    报名截止时间: #{register_due_date(@campaign)}
    %br/
    上课地点: #{@campaign.training_room.full_address},
    = link_to '查看地图', @campaign.training_room.map_url, :target => "_blank"
    %p
      = link_to t("label.register_now"), new_campaign_order_path(@campaign)

