%h1 系统管理面板

#base
  %p
    = link_to '目录管理', admin_catalogs_path
  %p
    = link_to '课程管理', admin_courses_path
  %p
    = link_to '地点管理', admin_locations_path
  %p
    = link_to '用户管理', admin_users_path
  %p
    = link_to '订单管理', admin_orders_path