= form_for [:admin, @user] do |f|
  = show_msg @user.errors

  %fieldset
    %br/
    %h6 登录信息
    = render "user/edit_user_form", :f => f
    = render "user/edit_user_role_form", :f => f, :user => @user
    %hr/
    %h6 个人信息
    = f.fields_for :user_detail do |ud|
      = render "user/user_detail_form", :f => ud
    %p/

    .align_center.span-2= f.submit t('label.save')
