%h1 用户管理

%table
  %thead
    %th 编号
    %th 电子邮件
    %th 用户名
    %th 姓名
    %th 性别
    %th 联系电话
    %th 角色
    %th 身份证号
    %th 公司
    %th 公司规模
    %th 职位
    %th 通信地址
    %th 邮编
    %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.email
        %td= user.username
        %td= user.true_name
        %td= t("label.gender.#{user.gender}")
        %td= user.contact_phone
        %td
          - roles_names(user).each do |name|
            .span-2= name
        %td= user.user_detail.id_card
        %td= user.user_detail.company
        %td= t("label.company.size.#{user.user_detail.company_size}")
        %td= user.user_detail.title
        %td= user.user_detail.address
        %td= user.user_detail.zip
        %td
          = link_to t('label.edit'), edit_admin_user_path(user)
