#menu
  .wrapper
    %ul
      %li= link_to '首页', root_path
      %li= link_to '服务', services_path
      %li= link_to '课程', courses_path
      %li= link_to '讲师', trainers_path
      %li= link_to '关于我们', about_us_path
      %li= link_to '加入我们', join_us_path
      %li= link_to '帮助', help_path
