#user_nav
  - if ! user_signed_in? then
    = link_to t('label.login'), new_user_session_path
    %span &nbsp;&nbsp;
    = link_to t('label.sign_up'), new_user_registration_path
  - else
    .span
      = t('label.login_as')
      = link_to "#{current_user.username}", edit_profile_path
      ,
      = link_to t('label.logout'), destroy_user_session_path
      ,
      = link_to "管理", '/admin'
