= form_for [:admin, course] do |f|
  %fieldset
    %br/

    #field_course_name.field
      .required_field_label= f.label :course_name
      = f.text_field :course_name

    #field_short_description.field
      .required_field_label= f.label :short_description
      = f.text_area :short_description, :style => "width:535px;height:310px;visibility:hidden;"

    #field_long_description.field
      .required_field_label= f.label :long_description
      = f.text_area :long_description, :style => "width:535px;height:310px;visibility:hidden;"

    #field_catalog.field
      .required_field_label
        所属目录:
      #catalogs
        - Catalog.root_catalogs.each do |catalog|
          .span-3
            //= f.check_box "catalog_ids", {:multiple => true, :checked => course.catalogs.include?(catalog)}, catalog.id, ''
            = check_box_tag "course[catalog_ids][]", catalog.id, course.catalogs.include?(catalog), {:id => "course_catalog_ids_#{catalog.id}"}
            = f.label "catalog_ids_#{catalog.id}", catalog.name

    %br/

    = f.submit t("label.save")
    = link_to t("label.back"), admin_courses_path


- content_for :page_include_css do
  :css
    textarea {
        display: block;
    }

- content_for :page_include_scripts do
  = javascript_include_tag 'kindeditor-min'

- content_for :page_inline_scripts do
  :javascript
    $(document).ready(function(){
      KE.show({
          id : 'course_short_description',
          cssPath : './index.css',
          filterMode: true,
          imageUploadJson: '/assets/upload_image.json',
          afterCreate : function(id) {
              KE.event.ctrl(document, 13, function() {
                  KE.sync(id);
                  document.forms['new_course'].submit();
              });
              KE.event.ctrl(KE.g[id].iframeDoc, 13, function() {
                  KE.sync(id);
                  document.forms['new_course'].submit();
              });
          }
      });
       KE.show({
           id : 'course_long_description',
           cssPath : './index.css',
           filterMode: true,
           imageUploadJson: '/assets/upload_image.json',
           afterCreate : function(id) {
               KE.event.ctrl(document, 13, function() {
                   KE.sync(id);
                   document.forms['new_course'].submit();
               });
               KE.event.ctrl(KE.g[id].iframeDoc, 13, function() {
                   KE.sync(id);
                   document.forms['new_course'].submit();
               });
           }
       });
    })



