- semantic_form_for [:admin, @course], :html => {:multipart => true} do |f|
  = f.inputs :course_name, :status, :version, :price, :discount_price
  - f.inputs do
    = f.input :avatar, :as => :file
    = f.input :avatar_cache, :as => :hidden
    - if @course.avatar?
      %li
        = label_tag "."
        = image_tag @course.avatar_url(:thumb).to_s, :align => "center"
      = f.input :remove_avatar, :as => :boolean
    = f.input :total_interesting_count, :as => :numeric
    = f.input :total_register_count, :as => :numeric
    = f.input :short_description
    = f.input :long_description
  = f.buttons

:javascript
  $(document).ready(function(){
    KE.show({
        id : 'course_short_description',
        cssPath : './index.css',
        filterMode: true,
        imageUploadJson: '/assets/upload_image.json',
        fileManagerJson: '/assets/browse_images.json',
        allowFileManager: true,
        newlineTag: 'br',
        afterCreate : function(id) {
            KE.event.ctrl(document, 13, function() {
                KE.sync(id);
                document.forms['new_course'].submit();
            });
            KE.event.ctrl(KE.g[id].iframeDoc, 13, function() {
                KE.sync(id);
                document.forms['new_course'].submit();
            });
        }
    });
     KE.show({
         id : 'course_long_description',
         cssPath : './index.css',
         filterMode: true,
         imageUploadJson: '/assets/upload_image.json',
         fileManagerJson: '/assets/browse_images.json',
         allowFileManager: true,
         newlineTag: 'br',
         afterCreate : function(id) {
             KE.event.ctrl(document, 13, function() {
                 KE.sync(id);
                 document.forms['new_course'].submit();
             });
             KE.event.ctrl(KE.g[id].iframeDoc, 13, function() {
                 KE.sync(id);
                 document.forms['new_course'].submit();
             });
         }
     });
  })
