%h1 课程信息

#course_name
  %b 课程名称:
  %br/
  = @course.course_name

#price
  %b 价格:
  %br/
  ￥ #{@course.price}

#discount_price
  %b 优惠格:
  %br/
  ￥ #{@course.discount_price}

#image
  %b 图片:
  %br/
  = image_tag @course.avatar_url(:thumb).to_s

#short_description
  %b 简介:
  %br/
  = @course.short_description

#long_description
  %b 详细说明:
  %br/
  = @course.long_description

#campaigns
  %b 开班:
  %br/
  = link_to '新开班', new_admin_course_campaign_path(@course)
  %br/
  #campaign_list
    = render 'admin/campaigns/campaigns_table', :campaigns => @course.active_campaigns


