!!! 1,1
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      = content_for?(:page_title) ? yield(:page_title) : t('label.application.title')
    = javascript_include_tag :defaults
    = yield(:page_include_scripts) if content_for?(:page_include_scripts)
    = csrf_meta_tag
    = stylesheet_link_tag "screen", :media => "screen, projection"
    = stylesheet_link_tag "print", :media => "print"
    /[if IE]
      = stylesheet_link_tag "ie", :media => "screen, projection"
    = stylesheet_link_tag "style", :media => "screen, projection"
    = yield(:page_include_css) if content_for?(:page_include_css)
    = yield(:page_inline_scripts) if content_for?(:page_inline_scripts)

  %body
    #content.container
      = render "common/page_header"
      #middle.span-24.last
        #left.span-8
          %p left
        #main.span-16.last
          = yield
      = render "common/page_footer"
